---
layout: archive
---




<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].about_me | default: "About Me" }}</h3>
<p> I am interested in the biological and computational mechanisms underlying learning and memory and how these mechanisms enable
  the emergence of metarepresentation and more particularly metalearning.

I obtained my Phd in Neuroscience in France from Lyon 1 University in December 2017. My project was supervised by Nathalie Mandairon and Anne Didier
from the neuropop team of the <a href="https://crnl.univ-lyon1.fr/index.php/en">Lyon Neuroscience Research Center </a>. My thesis work was focused on
understanding the learning and memory mechanisms involved in olfactory perceptual learning in the olfactory bulb in mice. My focus was to understand
how the olfactory bulb circuitry -involving both  preexisting and adult-born neurons- was modified after complex environmental modifications
(involving the discrimination learning of several pais of perceptualy close odorants at the same time) or changing (involving the discrimination
learning different pairs of odorants over time).  I studied this using behavioral analysis, immunochemistry straining (BrdU, Immediate Early Genes ...),
morphological analysis, optogenetics and integrate and fire neurons modeling.

I am now holding a postdoctoral position at New York University, in the lab of <a href="http://www.cns.nyu.edu/corefaculty/Reyes.php"> Alexander Reyes </a>.
The project I'm working on right now is a
collaboration between the Alex's lab and the lab of <a href="https://ctn.zuckermaninstitute.columbia.edu/people/stefano-fusi"> Stefano Fusi </a> at Columbia University.
It's a project still centered around learning and
memory mechanisms, however it involves both an in-vitro and a modeling approach working synergically. The in vitro approach uses cortical neurons
cultures and whole-optoc electrophysiology to probe memory storage abilities based on the modeling approach that designed a memory storage model of
long-term memory. Working back and forth between those two approches we hope to validate the computational model by contributing essential missing
ariable from in-vitro networks and at the same time enhance the model's capabilities to represent mechanisms of biological learning and memory storage.
</p>






<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
